@import url(//fonts.googleapis.com/css?family=Lato:700);

body {
    margin:0;
    font-family:'Lato', sans-serif;
    color: #999;
}

a, a:visited {
    text-decoration:none;
}

table{

}
h1 {
    font-size: 32px;
    margin: 16px 0 0 0;
    text-align: center;
    margin-bottom: 10px;
}